*{
    margin: 0 auto;
    box-sizing: border-box;
}

body {
     background-color: dodgerblue;
     font-family: 'Black And White Picture', sans-serif;
     font-weight: 400;
     text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 40px;
    background-color: #fff;
}
.form>input,
.form>label{
    margin: 5px;
}

.form>input{
    display: inline;
}

.red {
    border-color: red;
    border-style: solid;
}

.green {
    border-color: green;
    border-style: solid;
}

.result {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 2%;
}
.result>img{
    margin-top: 2%;
    border-radius: 5%;
}

.hide{
    display: none;
}

.preloader{
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    color: #fff;
}